



<h1 id="#object-title">Sync It!</h1>
<p id="#object-greeting">Welcome to shared objects demo.</p>

Input: <h3 id="input">Hi</h3>



<input id="text-input" title="text-input" type="text">


<script src="./socket.io.min.js"></script>

<script src="./javascripts/jquery.min.js"></script>

<script src="./delta.js"></script>
<script src="./syncit.js"></script>

<script src="./main.js"></script>